/* ----- Variables ----- */
.flex-container {
  padding: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 60%;
}

.columna {
  width: 190px;
  height: 100px;
  text-align: center;
  text-align: left;
  flex-direction: column;
}

.titulo-columna {
  font-family: Verdana;
  font-weight: lighter;
  text-align: left;
  font-size: x-large;
  color: black;
}

.titulo-columna2 {
  font-family: Verdana;
  font-weight: bold;
  font-size: x-large;
  color: black;
}

.texto-columna {
  font-weight: lighter;
  padding-top: 10%;
  font-family: Verdana;
  color: black;
}

.imagen-columna {
  justify-self: left;
}

@media only screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    height: auto;
  }
  .columna {
    width: 100%;
    height: auto;
    margin-bottom: 5%;
  }
  .imagen-columna {
    width: 80%;
    margin: auto;
  }
}
@media only screen and (max-width: 480px) {
  .titulo-columna {
    font-size: large;
  }
  .titulo-columna2 {
    font-size: large;
  }
  .texto-columna {
    padding-top: 5%;
    font-size: small;
  }
}
/* ------- BANNER -------*/
.banner {
  width: 100%;
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
}

.banner img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .banner {
    height: auto;
  }
  .banner img {
    height: auto;
  }
}
@media (min-width: 992px) {
  .banner {
    height: 400px;
  }
}
/* ------- PROYECTOS -------*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.titulo-proyectos {
  text-align: center;
  margin-bottom: 30px;
}

.imagen-proyectos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.farmacias-img,
.clinica-img,
.arq-com-img {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.farmacias-img img,
.clinica-img img,
.arq-com-img img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 767px) {
  .imagen-proyectos {
    flex-direction: column;
  }
  .farmacias-img,
  .clinica-img,
  .arq-com-img {
    width: 100%;
    margin-bottom: 20px;
  }
}
/* ------- FOOTER ------- */
.footer {
  background-color: white;
  padding: 40px 0;
  border-top: 50px solid #107674;
  border-bottom: 50px solid #107674;
}

.footer h4 {
  margin-top: 0;
  margin-bottom: 20px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .p-footer {
  margin-bottom: 20px;
  color: #107674;
}

.footer .rrss {
  color: #107674;
}

.rrss-buttons a {
  color: #107674;
  font-size: 40px;
  text-decoration: none;
}

.rrss-buttons a:hover {
  transform: scale(1.2);
}

.footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .footer {
    padding: 20px 0;
  }
  .footer .col-md-4 {
    margin-bottom: 30px;
  }
}
/* ------- PAGINA DE CONTACTOS ------- */
.contacto {
  padding: 20px;
  text-align: center;
  font-weight: lighter;
  border-top: 50px solid #107674;
  color: #107674;
}

.contacto h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contacto p {
  font-size: 18px;
  line-height: 1.5;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: auto;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type=submit] {
  width: 100%;
  padding: 10px;
  margin-top: 30px;
  background-color: #107674;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .contacto {
    padding: 50px;
  }
  .contacto h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }
  .contacto p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  form {
    max-width: 600px;
  }
  input[type=text],
  input[type=email],
  input[type=tel],
  textarea {
    margin-right: 10px;
    margin-bottom: 0;
  }
  label {
    text-align: right;
  }
  input[type=submit] {
    margin-top: 0;
  }
}
.img-const {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 2em;
}

.regresar {
  font-size: 1.5em;
  margin-top: 2em;
}

.bot-regresar {
  font-size: 1.2em;
  margin-top: 2em;
}

@media only screen and (max-width: 600px) {
  .regresar {
    font-size: 1em;
    margin-top: 1em;
  }
  .bot-regresar {
    font-size: 1em;
    margin-top: 1em;
  }
}
/* ------- 404 ERROR ------- */
.img-const {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 2em;
}

.bot-regresar {
  font-size: 1.2em;
  margin-top: 2em;
}

@media only screen and (max-width: 600px) {
  .bot-regresar {
    font-size: 1em;
    margin-top: 1em;
  }
}
/* GOTOP */
#subir {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/*# sourceMappingURL=styles.css.map */
